@tailwind base;
@tailwind components;
@tailwind utilities;

.bitcount-strong-wide {
  @apply font-bitcount;
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" -2, "CRSV" 1, "ELSH" 60, "ELXP" 80;
}

* {
  margin: 0;
  padding: 0;
  /* border: 0; */
  list-style: none;
  /* color: #fff; */
  text-decoration: none;
  transition: all 0.5s;
}

/* styles.css */
.holo-effect {
  background: linear-gradient(270deg, #ff00f7, #00e1ff, #fff600);
  background-size: 600% 600%;
  animation: holoMove 8s ease infinite;
}

@keyframes holoMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.shiny-effect {
  position: relative;
}
.shiny-effect::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shine 3s infinite;
}
@keyframes shine {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

.sparkle-effect {
  animation: sparkle 1.5s infinite;
}
@keyframes sparkle {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.5);
  }
}

.negative-effect {
  filter: invert(1);
}
